<div class="column-3-4">
  <div class="user-questions buffer-both">
    <h2 class="hasgtag-title"><%= t('app.headers.list_of_questions_for_a_hashtag', name: @tag.name) %></h2>
    <div class="questions-list">
      <% @questions.each do |question| %>
        <%= render partial: 'questions/question', object: question %>
      <% end %>
    </div>
  </div>
</div>
